Source: atecc-util
Maintainer: Nikita Maslov <n.maslov@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), libssl-dev | libssl1.0-dev (>= 1.0.2)

Package: atecc-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ATECC508A/608A configuration utility based on cryptoauthlib
