Source: atecc-util
Maintainer: Wiren Board team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/wirenboard/atecc-util

Package: atecc-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ATECC508A/608A configuration utility based on cryptoauthlib
 Linux command-line tool for ATECC608A and ATECC508A ICs connected via i2c.
